////////////////////////////////////////////////////////////////////////
//////  Nextflow config file for 'yang_and_smith_pipeline_v1_7.nf' pipeline  //////
////////////////////////////////////////////////////////////////////////

// set some defaults for pipeline parameters
params {
	help = false
    outdir = 'results'
    outgroups_file = false
    outgroups = false
    pool = 1
    threads = 1
    process_02_trim_bad_ends_cutoff = 5
    process_02_trim_bad_ends_size = 15
    skip_process_02_trim_bad_ends = false
    process_04_trim_tips_relative_cutoff = 0.2
    process_04_trim_tips_absolute_cutoff = 0.4
    process_06_branch_length_cutoff = 0.3
    process_06_minimum_taxa = 3
    process_09_prune_paralog_MO_minimum_taxa = 2
    process_10_prune_paralogs_RT_minimum_ingroup_taxa = 2
    process_11_prune_paralogs_MI_relative_tip_cutoff = 0.2
    process_11_prune_paralogs_MI_absolute_tip_cutoff = 0.4
    process_11_prune_paralogs_MI_minimum_taxa = 2
    no_supercontigs = false

}

// enable HTML execution report by default, written to 'assembly.html'
report {
    enabled = true
    file = 'assembly.html'
}

// enable HTML timeline report by default, written to 'timeline.html'
timeline {
    enabled = true
    file = 'timeline.html'
}

/* 
enable .dot direct acyclic graph (DAG) report by default, written to 'dag.dot'. If
graphviz is installed this can be converted to e.g. png with the command: 
dot dag.dot -Tpng -o dag.png
*/
dag {
    enabled = true
    file = 'dag.dot'
}

// enable execution tracing file by default, written to 'pipeline_trace.txt'
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss,container'
}


/* 
set up profiles. Here I've made profiles for using SLURM, and also a 'standard' 
profile (default)
*/
profiles {

    slurm {
        process {
            withName: align_paralogs_01 {
                cpus = { 20 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: alexander_correct_bad_ends_02 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: alignment_to_tree_03 {
                cpus = { 20 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: trim_tips_04 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: mask_tips_05 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: cut_long_internal_branches_06 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: write_alignment_subset_07 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
			withName: realign_and_iqtree_08 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_MO_09 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_RT_10 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_MI_11 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }     
            withName: write_alignment_subset_MO_12 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: write_alignment_subset_RT_13 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
             withName: write_alignment_subset_MI_14 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: strip_names_and_realign_MO_15 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: strip_names_and_realign_RT_16 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }            
            withName: strip_names_and_realign_MI_17 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withLabel: in_container {
                container = \
                // 'file:///media/disk1_12TB/cjackson/08_singularity/02_HybPiper/02_yang_and_smith/yang_and_smith.sif'
                'library://chrisjackson-pellicle/collection/yang_and_smith:latest'
            }
        }
        executor {
            name = 'slurm'
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
        
    }

    standard {
        process {
            withName: align_paralogs_01 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: alexander_correct_bad_ends_02 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: alignment_to_tree_03 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: trim_tips_04 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: mask_tips_05 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: cut_long_internal_branches_06 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: write_alignment_subset_07 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: realign_and_iqtree_08 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_MO_09 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_RT_10 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: prune_paralogs_MI_11 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }     
            withName: write_alignment_subset_MO_12 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: write_alignment_subset_RT_13 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
             withName: write_alignment_subset_MI_14 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: strip_names_and_realign_MO_15 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: strip_names_and_realign_RT_16 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }            
            withName: strip_names_and_realign_MI_17 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withLabel: in_container {
                container = \
                // 'file:///media/disk1_12TB/cjackson/08_singularity/02_HybPiper/02_yang_and_smith/yang_and_smith.sif'
                'library://chrisjackson-pellicle/collection/yang_and_smith:latest'
            }
        }
        executor {
            name = 'slurm'
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
        
    }
}
