/////////////////////////////////////////////////////////////////////////////////
//////  Nextflow config file for yang-and-smith-rbgv-pipeline.nf pipeline  //////
/////////////////////////////////////////////////////////////////////////////////


nextflow.enable.dsl=2


// set some defaults for pipeline parameters
params {
	help = false
    outdir = 'results'
    internal_outgroups = false
    external_outgroups_file = false
    external_outgroups = false
    pool = 1
    threads = 1
    process_04_trim_tips_relative_cutoff = 0.2
    process_04_trim_tips_absolute_cutoff = 0.4
    process_06_branch_length_cutoff = 0.3
    process_06_minimum_taxa = 3
    process_09_prune_paralog_MO_minimum_taxa = 2
    process_10_prune_paralogs_RT_minimum_ingroup_taxa = 2
    process_11_prune_paralogs_MI_relative_tip_cutoff = 0.2
    process_11_prune_paralogs_MI_absolute_tip_cutoff = 0.4
    process_11_prune_paralogs_MI_minimum_taxa = 2
    no_supercontigs = false

}

// enable HTML execution report by default, written to 'assembly.html'
report {
    enabled = true
    file = 'assembly.html'
}

// enable HTML timeline report by default, written to 'timeline.html'
timeline {
    enabled = true
    file = 'timeline.html'
}

/* 
enable .dot direct acyclic graph (DAG) report by default, written to 'dag.dot'. If
graphviz is installed this can be converted to e.g. png with the command: 
dot dag.dot -Tpng -o dag.png
*/
dag {
    enabled = true
    file = 'dag.dot'
}

// enable execution tracing file by default, written to 'pipeline_trace.txt'
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss,container'
}


/* 
set up profiles. Here I've made profiles for using SLURM, and also a 'standard' 
profile (default)
*/
profiles {

    slurm {
        process {
            withName: ALIGN_PARALOGS_01 {
                cpus = { 20 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: ALIGNMENT_TO_TREE_02 {
                cpus = { 20 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: TRIM_TIPS_03 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: MASK_TIPS_04 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: CUT_LONG_INTERNAL_BRANCHES_05 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: WRITE_ALIGNMENT_SUBSET_06 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: REALIGN_AND_IQTREE_07 {
                cpus = { 20 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: PRUNE_PARALOGS_MO_08 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: PRUNE_PARALOGS_RT_09 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: PRUNE_PARALOGS_MI_10 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }     
            withName: WRITE_ALIGNMENT_SUBSET_MO_11 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: WRITE_ALIGNMENT_SUBSET_RT_12 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: WRITE_ALIGNMENT_SUBSET_MI_13 {
                cpus = { 10 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: STRIP_NAMES_AND_REALIGN_MO_14 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: STRIP_NAMES_AND_REALIGN_RT_15 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }            
            withName: STRIP_NAMES_AND_REALIGN_MI_16 {
                cpus = { 20 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }

            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-yang-and-smith-rbgv:latest'
            }
        }
        executor {
            name = 'slurm'
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
        
    }

    standard {
        process {
            withName: ALIGN_PARALOGS_01 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ALIGNMENT_TO_TREE_02 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIM_TIPS_03 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: MASK_TIPS_04 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: CUT_LONG_INTERNAL_BRANCHES_05 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: WRITE_ALIGNMENT_SUBSET_06 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: REALIGN_AND_IQTREE_07 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PRUNE_PARALOGS_MO_08 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PRUNE_PARALOGS_RT_09 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PRUNE_PARALOGS_MI_10 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }     
            withName: WRITE_ALIGNMENT_SUBSET_MO_11 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: WRITE_ALIGNMENT_SUBSET_RT_12 {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: WRITE_ALIGNMENT_SUBSET_MI_13 {
                cpus = { 2 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: STRIP_NAMES_AND_REALIGN_MO_14 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: STRIP_NAMES_AND_REALIGN_RT_15 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }            
            withName: STRIP_NAMES_AND_REALIGN_MI_16 {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-yang-and-smith-rbgv:latest'
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
    }
}
